<!-- Head Section -->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : @site_title %></title>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag  "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= yield(:head) %>
  <%= csrf_meta_tag %>
</head>
<!-- /end Head -->
